/* CSS Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* main styling */
body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   line-height: 1.5em;
}

a {
   color: #333;
   text-decoration: none;
}

h1, h2, h3 {
   padding-bottom: 20px;
   text-align: center;
}

p {
   /* margin: 0 10px; */
}

/* utility class */
.container {
   width: 1100px;
   margin: auto;
   padding-top: 20px;
}

.text-primary {
   color: #03506f;
}

.btn {
   background-color: #333;
   border-radius: 7px;
   color:aliceblue;
   cursor: pointer;
   padding: 10px 15px;
   font-size: 18px;
   text-align: center;
   margin: 10px 0;
   display: inline-block;
}

.btn:hover {
   background-color: #03506f;
}

/* navbar */
#navbar {
   background-color: #03506f;
   color: white;
   overflow: hidden;
}

#navbar h1 {
   float: left;
   padding-top: 20px;
}

#navbar a {
   color: white;
}

#navbar ul {
   list-style: none;
   float: right;
}

#navbar ul li {
   float:left;
}

#navbar ul li a {
   display: block;
   padding: 20px;
}

#navbar ul li a:hover {
   background-color: aliceblue;
   color: black;
}

#navbar .current {
   background-color: aliceblue;
   color: black;
}

/* showcase */
#showcase {
   background: url('../images/showcase.jpg') no-repeat center center/cover;
   height: 600px;
}

#showcase #showcase-content {
   padding-top: 200px;
}

#showcase #showcase-content h2 {
   font-size: 55px;
   line-height: 1.3em;
}

#showcase-content .intro {
   text-align: center;
   font-size: 18px;
   margin: auto;
}

#showcase-content .btn {
   margin-left: 450px;
   margin-top: 20px;
}

#history-content{
   height: 300px;
}
#history-content .info-img{
   background:url("../images/photo-1.jpg") no-repeat center center/cover;
   /* overflow: hidden; */
   width: 50%;
   height: 100%;
   float: left;
}

#history-content .info-content{
   float:right;
   width: 50%;
   height: 100%;
   text-align: center;
   overflow: hidden;
   padding-top: 40px;
   background-color:#ffe3d8;
}

.awsome{
   width:33%;
   float: left;
   text-align: center;
   padding-left: 20px;
}
#fonts{
   padding-top:50px;
}
.fas{
   font-size: 50px;
}
.clr-index{
   clear: both;
   padding-bottom: 200px; 
}
.clr{
   clear: both;
   padding-bottom: 30px;
}
.footer{
   background-color: #03506f;
   color: white;
   text-align: center;
   margin: auto;
   padding: 20px;

}
/* about page-info */

#about-info .info-left{
   width: 50%;
   float: left;
   min-height: 100%;
}
#about-info .info-left h1{
   text-align: left;
}
#about-info .info-right{
   width: 50%;
   float: right;
   min-height: 100%;
}
#about-info .info-right img{
   display: block;
   width: 70%;
   margin: auto;
}
/* about page-testimonials */
#feedbacks{
   height:550px;
   width:60%;
   margin: auto;
   background:url("../images/test-bg.jpg") no-repeat center center/cover;
   padding-top: 40px;
   margin-bottom: 40px;
}
#feedbacks h2{
   text-align: center;
   padding-bottom: 30px;
   color: #eee;
   font-size: 2em;
   }
#feedbacks .feedback{
   padding:20px;
   margin-bottom:40px;
   height:160px;
   border-radius: 10px;
}
.background{
   background-color: #ffe3d8;
}
#feedbacks .feedback img{
   width: 140px;
   float: left;
   padding-right: 20px;
}
/* contact page */
#contact .container h1{
   text-align: left;
}
#contact .container{
   text-align: left;
}
#contact .forms{
   margin-bottom: 20px;
}
#contact label{
   display: block;
   margin-bottom: 5px;
}
#contact textarea{
   height: 200px;
}
#contact input, textarea{
   width: 100%;
   padding:10px;
   border:1px solid #ddd;
}
.p_contact{
   padding-bottom:10px;
}
.box{
   float: left;
   width: 33.3%;
   padding:50px;
   text-align:center;
}
.box i{
   margin:10px;
}


